/* 	
================================================================
LAYOUT
================================================================  
*/

body{
    min-height:100vh;
    display:flex;
    flex-flow: column;
    width:100vw;
    overflow-x: hidden;
    transition: background-color 400ms;
    padding-top:48px;
}

a, *{
  transition: color 400ms;
}

a{
   transition: color 400ms;
}

.page-content{
    flex: 1;
}



/*  
================================================================
NEWS TICKER
================================================================  
*/

.news-body{
    background:black;
    color:white;
    font-family: 'arial', sans-serif;
}

.TickerNews{
    width: 100vw;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 0px;
    overflow: hidden;
}
.ti_wrapper{
    width: max-content;
    position: relative;
    height: 50px;
}
div[id^="ti_content"]{
    width: auto;
    position: relative;
    float:left;
    left:0%;
    animation-name: ticker-move;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.ti_news{
    float:left;
}
.ti_news a{
    display: block;
    margin-right: 10px;
}

@keyframes ticker-move {
  from {left:0%;}
  to {left:-50%;}
}