/* 	
================================================================
LAYOUT
================================================================  
*/

body{
    min-height:100vh;
    display:flex;
    flex-flow: column;
    width:100vw;
}

a, *{
  transition: color 400ms;
}

a{
   transition: color 400ms;
}

.page-content{
    flex: 1;
}



/*  
================================================================
NEWS TICKER
================================================================  
*/

.news{
    background:black;
    color:white;
    font-family: 'arial', sans-serif;
}

.news-list{
    width:100vw;
    list-style: none;
    flex: 1;
    padding-top:20px;
}

.url{

}

.headline{
    color: Khaki;
}


.TickerNews{
    width: 100vw;
    height: 150px;
    line-height: 150px;
    overflow: hidden;
    font-size:4.5em;
    border-top:1px solid tomato;
}

h2.ticker-title{
    font-size: 18px;
    padding: 10px;
    color:black;
    background: tomato;
    margin-top: -100%;
    text-transform: uppercase;
}

.ti_wrapper{
    width: max-content;
    position: relative;
    height: 50px;
}

div[id^="ti_content"]{
    width: auto;
    position: relative;
    float:left;
    left:0%;
    animation-name: ticker-move;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.ti_news{
    float:left;
    padding-left: .25em;
}
.ti_news a{
    display: block;
    margin-right: 10px;
}

@keyframes ticker-move {
  from {left:0%;}
  to {left:-50%;}
}