{% extends "layout.html" %}
{% block body %}
<body class="news">

<div id="stats-page"></div>

	<div class="stats-container">

		<div class="line line1">
			<br>
		</div>

		<div class="line line2">
			<span class="align-centre w-20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Frequency</span>
		</div>

		<div class="line line3">
				<span class="stat-title">tweets / senti analysis</span> <span class="stat-unit align-right">ns</span> <span class="stat align-right">10032.0002341</span>
		</div>

		<div class="line line4">
				<span class="stat-title">news / senti analysis</span> <span class="stat-unit align-right">ns</span> <span class="stat align-right">10032.0002341</span>
		</div>

		<div class="line line5">
				<span class="stat-title">cognitive processing</span> <span class="stat-unit align-right">s</span> <span class="stat align-right">10032.0002341</span>
		</div>

		<div class="line line6">
				<span class="stat-title">non-cognitive processing</span> <span class="stat-unit align-right">ms</span> <span class="stat align-right">10032.0002341</span>
		</div>

		<div class="line line7">
				<span class="stat-title">exhibition</span> <span class="stat-unit align-right">d</span> <span class="stat align-right">48</span>
		</div>

		<div class="line line8 tall">
				<span class="stat-title">electricity</span> <span class="stat-unit align-right">mps</span> <span class="stat narrow align-right">280,000,000</span>
		</div>

		<div class="line line9">
				<span class="stat-title">raspberry pi</span> <span class="stat-unit align-right">Mhz</span> <span class="stat narrow align-right">60</span>
		</div>

		<div class="line line10">
				<span class="stat-title">broadband</span> <span class="stat-unit align-right">Mbps</span> <span class="stat narrow align-right">30</span>
		</div>

		<div class="line line11">
				<span class="stat-title">screen refresh</span> <span class="stat-unit align-right">Mhz</span> <span class="stat narrow align-right">300</span>
		</div>


		<div class="line line12">
				<span class="stat-title">video codec</span> <span class="stat-unit align-right">fps</span> <span class="stat narrow align-right">25</span>
		</div>

		<div class="line line13">

		</div>

	</div>

<script>
	  var options = {
            chart: {
                height: 350,
                type: 'bar',
            },
            plotOptions: {
                bar: {
                    horizontal: true,
                    dataLabels: {
                        position: 'bottom',
                    }
                }
            },
            dataLabels: {
              enabled: true,
              position: 'bottom',
              textAnchor: 'start',
              formatter: function(val, opt) {
                  return opt.w.globals.labels[opt.dataPointIndex]
              },
              offsetX: 0,
              offsetY: 0,
            },
            series: [{
                data: [{{initial_data[1]}}, {{initial_data[2]}}, {{initial_data[3]}}, {{initial_data[4]}}, {{initial_data[5]}}]
            }],
            xaxis: {
                type: 'categories',
                categories: ['joy', 'anger', 'disgust', 'sadness', 'fear'],
                labels: {
                    show: false,
                },
                axisBorder: {
                    show: true,
                }
            },
            grid: {
                show: false,
            },
            fill: {
              type: 'gradient',
              gradient: {
                colorStops: [
                                {
                                  offset: 0,
                                  color: '#000',
                                  opacity: 1
                                },
                                {
                                  offset: 40,
                                  color: '#808080',
                                  opacity: 0.6
                                },
                                {
                                  offset: 100,
                                  color: '#FFF',
                                  opacity: 0
                                },
                            ]
              }
            }
        }

       var barchart = new ApexCharts(
            document.querySelector("#bar"),
            options
        );

        barchart.render();
</script>

</body>
{% endblock %}