{% extends "layout.html" %}
{% block body %}
<body class="news">

<div id="candle" style="height: 100%; width: 100%;"></div>
<div class="candle_text">
    {% for i in range(60) %}
    <span class="hour">{{ -60 + i }}</span>
    {% endfor %}
</div>
<script>
	  var candle_options = {
      chart: {
        height: 1000,
        type: 'candlestick',
        toolbar: {
          show: false
        },
      },
      plotOptions: {
          candlestick: {
            colors: {
              upward: '#17ff0f',
              downward: 'rgb(243, 255, 15)'
            }
          }
      },
      grid: {
        show: false,
      },
      tooltip: {
          enabled: false,
      },
      series: [{
        data: [
        {%for item in sentiment_list%}
        {
            x: {{item[0]}},
            y: {{item[1]}}
          },
        {%endfor%}
        ]
      }],
      stroke: {
        width: 1
      },
      colors: ['rgba(0,0,0,0.0)'],
      markers: {
        colors: '#000',
      },
      xaxis: {
        labels: {
            show: false,
        },
        axisBorder: {
            show: false,
        },
        labels: {
            show: false,
        },
      },
      yaxis: {
        labels: {
            show: true,
            style: {
              color: 'rgb(158,214,0)',
              fontSize: '19px',
              fontFamily: 'doublet',
              cssClass: 'ylabel',
            },
            formatter: function(val, index) {
                return val.toFixed(1);
            },
        },
        min: 0.01,
        max: 0.6,
      },

      tooltip: {
            enabled: false,
      },
    };

    var candlechart = new ApexCharts(
      document.querySelector("#candle"),
      candle_options
    );

    candlechart.render();
</script>

</body>
<script src="{{url_for('static', filename='js/candleSocket.js')}}"></script>
{% endblock %}