{% extends "layout.html" %}
{% block body %}
<body class="news">

<div id="candle" style="height: 100%; width: 100%;"></div>

<script>
	  var candle_options = {
      chart: {
        height: 1050,
        width: 1900,
        type: 'candlestick',
        toolbar: {
          show: false
        },
      },
      plotOptions: {
          candlestick: {
            colors: {
              upward: '#0000ff',
              downward: 'rgb(255,255,255)'
            }
          }
      },
      grid: {
        show: false,
      },
      tooltip: {
          enabled: false,
      },
      series: [{
        data: [
        {%for item in sentiment_list%}
        {
            x: {{item[0]}},
            y: {{item[1]}}
          },
        {%endfor%}
        ]
      }],
      stroke: {
        width: 1
      },
      colors: ['rgba(0,0,0,0.0)'],
      markers: {
        colors: '#000',
      },
      xaxis: {
        labels: {
            show: false,
        },
        axisBorder: {
            show: false,
        },
        title: {
            text: 'BPA twitter sentiment: opening/closing, high/low',
            style: {
                color: '#fff',
                fontSize: '21px',
                fontFamily: 'Helvetica, Arial, sans-serif',
            }
        }
      },
      yaxis: {
        labels: {
            show: false,
        },
      },
      tooltip: {
            enabled: false,
      },
    };

    var candlechart = new ApexCharts(
      document.querySelector("#candle"),
      candle_options
    );

    candlechart.render();
</script>

</body>
<script src="{{url_for('static', filename='js/candleSocket.js')}}"></script>
{% endblock %}