{% extends "layout.html" %}
{% block body %}
<body>

<div id="map" style="transform: rotateX(180deg);"></div>
 <script>

      // This example requires the Visualization library. Include the libraries=visualization
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization">

      var map, heatmap, pointArray;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          scaleControl: false,
          disableDefaultUI: true,
          mapTypeControl: false,
          mapTypeId: 'hybrid',
          center: {lat: 40, lng: -40}
        });

        <!--initGallPeters();-->
        <!--map.mapTypes.set('gallPeters', gallPetersMapType);-->
        <!--map.setMapTypeId('gallPeters');-->

        heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(),
          map: map
        });
      }

      var gallPetersMapType;
      function initGallPeters() {
        var GALL_PETERS_RANGE_X = 800;
        var GALL_PETERS_RANGE_Y = 512;

        // Fetch Gall-Peters tiles stored locally on our server.
        gallPetersMapType = new google.maps.ImageMapType({
          getTileUrl: function(coord, zoom) {
            var scale = 1 << zoom;

            // Wrap tiles horizontally.
            var x = ((coord.x % scale) + scale) % scale;

            // Don't wrap tiles vertically.
            var y = coord.y;
            if (y < 0 || y >= scale) return null;

            return 'https://developers.google.com/maps/documentation/' +
                   'javascript/examples/full/images/gall-peters_' + zoom +
                   '_' + x + '_' + y + '.png';
          },
          tileSize: new google.maps.Size(GALL_PETERS_RANGE_X, GALL_PETERS_RANGE_Y),
          minZoom: 0,
          maxZoom: 1,
          name: 'Gall-Peters'
        });

        // Describe the Gall-Peters projection used by these tiles.
        gallPetersMapType.projection = {
          fromLatLngToPoint: function(latLng) {
            var latRadians = latLng.lat() * Math.PI / 180;
            return new google.maps.Point(
                GALL_PETERS_RANGE_X * (0.5 + latLng.lng() / 360),
                GALL_PETERS_RANGE_Y * (0.5 - 0.5 * Math.sin(latRadians)));
          },
          fromPointToLatLng: function(point, noWrap) {
            var x = point.x / GALL_PETERS_RANGE_X;
            var y = Math.max(0, Math.min(1, point.y / GALL_PETERS_RANGE_Y));

            return new google.maps.LatLng(
                Math.asin(1 - 2 * y) * 180 / Math.PI,
                -180 + 360 * x,
                noWrap);
          }
        };
      }

      function toggleHeatmap() {
        heatmap.setMap(heatmap.getMap() ? null : map);
      }

      function changeGradient() {
        var gradient = [
          'rgba(0, 255, 255, 0)',
          'rgba(0, 255, 255, 1)',
          'rgba(0, 191, 255, 1)',
          'rgba(0, 127, 255, 1)',
          'rgba(0, 63, 255, 1)',
          'rgba(0, 0, 255, 1)',
          'rgba(0, 0, 223, 1)',
          'rgba(0, 0, 191, 1)',
          'rgba(0, 0, 159, 1)',
          'rgba(0, 0, 127, 1)',
          'rgba(63, 0, 91, 1)',
          'rgba(127, 0, 63, 1)',
          'rgba(191, 0, 31, 1)',
          'rgba(255, 0, 0, 1)'
        ]
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
      }

      function changeRadius() {
        heatmap.set('radius', heatmap.get('radius') ? null : 20);
      }

      function changeOpacity() {
        heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
      }

      // Heatmap data: 500 Points
      function getPoints() {
        pointArray = new google.maps.MVCArray( [
        {%for item in initial_data%}
          {location: new google.maps.LatLng({{item[1]}}, {{item[2]}}), weight: 100000},
        {%endfor%}
        ]);
        return pointArray;
      }

      function addPoint(lat, long) {
        pointArray.push({location: new google.maps.LatLng(lat, long), weight: 100000});
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGkdrXQk7892-QEoWyzSND0m5CLSKKJZI&libraries=visualization&callback=initMap">
    </script>

</body>
<script src="{{url_for('static', filename='js/heatmapSocket.js')}}"></script>
{% endblock %}