{% extends "layout.html" %}
{% block body %}
<body class="list-body"
	{% if position == 0 %}
	  data-screen="3"
	  {% else %}
	  data-screen="6"
	  {%endif%}
	>
	<ul class="list-container">
		<!-- Loop Start -->
		{%for item in initial_data%}

			<li class="list-item row-max up">
				<span class="align-centre score col-xs-1">{{item[0]}}</span>
				<span class="align-centre icon">
					{% if item[0] >= 0 %}
					<span class="list-item-up-icon"> </span>
					{% else %}
					<span class="list-item-down-icon"></span>
					{% endif %}
				</span>
				<span class="align-centre source">{{item[1]}}</span>
				<span class="list-item-content">{{item[2]}}</span>
				<span class="align-centre time">{{item[3]}}</span>
			</li>
		{%endfor%}
		<!-- Loop End -->
	</ul>
</body>
<script src="{{url_for('static', filename='js/listSocket.js')}}"></script>
{% endblock %}