{% extends "layout.html" %}
{% block body %}
<body class="news">

	<ul class="news-list">
		<!-- Loop Start -->
		<li class="news-list-item">
			<span class="url">https://bbc.com</span>
			<span class="headline">Headline</span>
			<span class="date">04.07.2019</span>
		</li>
		<!-- Loop End -->
	</ul>

{%for i in range(0, tickers)%}
    <div class="TickerNews">
        <div class="ti_wrapper" style="left:{{position}}px">
            <div id="ti_content-{{i}}">
                {{html[i]}}
            </div>
        </div>
    </div>
{%endfor%}

</body>
{% endblock %}