{% extends "layout.html" %}
{% block body %}
<body class="news">

	<ul class="news-list container-fluid">
		<!-- Loop Start -->
		{%for item in news_list%}
			<li class="news-list-item row">
				<span class="emotion col-xs-2">{{item[0]}}</span>
				<span class="score col-xs-2">{{item[1]}}</span>
				<span class="headline col-xs-5">{{item[2]}}</span>
				<span class="date col-xs-2">{{item[3]}}</span>
			</li>
		{%endfor%}
		<!-- Loop End -->
	</ul>

{%for i in range(0, tickers)%}
    <div class="TickerNews">
    	<div class="ticker-news-inner">
	    	<h2 class="ticker-title">Breaking News</h2>
	        <div class="ti_wrapper" style="left:{{position}}px">
	            <div id="ti_content-{{i}}">
	                {{html}}
	            </div>
	        </div>
	    </div>
    </div>
{%endfor%}

</body>
{% endblock %}