{% extends "layout.html" %}
{% block body %}
<body class="stats-page" style="overflow:hidden;background-image:url()">
<div class="scatter-container">
    <div id="scatter"></div>
    <div id="prices">
        <ul>
            {% for data in price_data %}
            <li>
                <span class="company w-75">{{data[0]}}</span><span class="value w-25">{{data[1]}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
    var options = {
            chart: {
                height: 1090,
                width: 1250,
                type: 'scatter',
                toolbar: {
                  show: false
                },
                animations: {
                    enabled: false,
                },
            },
            series: [{
                name: "happy",
                data: {{initial_data}}
            }, {
                name: "sad",
                data: {{initial_data}}
            }],
            yaxis: {
                labels: {
                    show: false,
                },
                axisBorder: {
                    show: true,
                    color: 'blue',
                },
                axisTicks: {
                      show: true,
                      borderType: 'solid',
                      color: 'blue',
                      width: 20,
                },
            },
            tickAmount: 6,
            xaxis: {
                tickAmount: 10,
                tickPlacement: 'on',
                labels: {
                    show: false,
                },
                axisBorder: {
                    show: true,
                    color: 'blue',
                },
                axisTicks: {
                      show: true,
                      borderType: 'solid',
                      color: 'blue',
                      height: 20,
                },
            },
            grid: {
                show: false,
            },
            dataLabels: {
                show: false,
            },
            stroke: {
                show: false,
                curve: 'smooth',
                width: 0,
            },
            tooltip: {
                enabled: false,
            },
            markers: {
                strokeColors:["rgba(255,0,0,0)"],
                size: 25,
                strokeWidth: 0,
                },
                fill: {

                type: "image",
                opacity: 0.85,
                image: {
                  <!--src: ["data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='9' cx='9' cy='9' fill='%230000'/%3E%3Crect width='16' height='16' x='6' y='6' fill='blue'/%3E%3C/svg%3E"],-->
                  src: ["{{url_for('static', filename='images/happy.png')}}", "{{url_for('static', filename='images/sad.png')}}"],
                  width: 40,
                  height: 40
                }
            }
        };

        var scatterchart = new ApexCharts(
            document.querySelector("#scatter"),
            options
        );

        scatterchart.render();
</script>
</body>
<script src="{{url_for('static', filename='js/scatterSocket.js')}}"></script>
{% endblock %}