{% extends "layout.html" %}
{% block body %}
<body class="stats-page">
<div class="scatter-container">
    <div id="scatter"></div>
    <div id="prices">
        <ul>
            {% for data in price_data %}
            <li>
                <span class="company w-14">{{data[0]}}</span><span class="value w-5">{{data[1]}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
    var options = {
            chart: {
                height: 1050,
                width: 1600,
                type: 'scatter',
                toolbar: {
                  show: false
                },
            },
            series: [{
                name: "SAMPLE A",
                data: {{initial_data}}
            }],
            yaxis: {
                max: 1,
                min: -1,
                labels: {
                    show: false,
                },
                axisBorder: {
                    show: true,
                    color: 'blue',
                },
                axisTicks: {
                      show: true,
                      borderType: 'solid',
                      color: 'blue',
                      width: 20,
                },
            },
            tickAmount: 6,
            xaxis: {
                tickAmount: 10,
                tickPlacement: 'on',
                labels: {
                    show: false,
                },
                axisBorder: {
                    show: true,
                    color: 'blue',
                },
                axisTicks: {
                      show: true,
                      borderType: 'solid',
                      color: 'blue',
                      height: 20,
                },
            },
            grid: {
                show: false,
            },
            stroke: {
                show: false,
                curve: 'smooth',
                width: 0,
            },
            tooltip: {
                enabled: false,
            },
            markers: {
                strokeColors:["rgba(255,0,0,0)"],
                size: 10,
                strokeWidth: 0,
                },
                fill: {

                type: "image",
                opacity: 0.85,
                image: {
                  src: ["data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='9' cx='9' cy='9' fill='%230000'/%3E%3Crect width='10' height='10' x='4' y='4' fill='blue'/%3E%3C/svg%3E"],
                  width: 10,
                  height: 11.5
                }
            }
        };

        var scatterchart = new ApexCharts(
            document.querySelector("#scatter"),
            options
        );

        scatterchart.render();
</script>

</body>
{% endblock %}