{% extends "layout.html" %}
{% block body %}
<body class="news">
<h1>Twitter</h1>
<div>tweet: <span id="tweet"></span></div>
<div>sentiment: <span id="t-sentiment"></span></div>
<div>joy: <span id="joy"></span></div>
<div>anger: <span id="anger"></span></div>
<div>disgust: <span id="disgust"></span></div>
<div>sadness: <span id="sadness"></span></div>
<div>fear: <span id="fear"></span></div>
<br>
<h1>News</h1>
<div>news: <span id="news"></span></div>
<div>sentiment: <span id="n-sentiment"></span></div>
</body>
{% endblock %}